{
	"target": "linux/amd64",
	"http": ":56741",
	"workdir": "../../out/workdir",
	"kernel_obj": "../../linux",
	"image": "../../image/bullseye.img",
	"sshkey": "../../image/bullseye.id_rsa",
	"syzkaller": "../../src/github.com/google/syzkaller",
	"procs": 1,
	"scheduler_procs": 1,
	"reproduce": false,
	"type": "qemu",
	"sandbox":"none",
	"vm": {
		"count": 4,
		"sched_count":4,
		"qemu":"../../tools/qemu/build/x86_64-softmmu/qemu-system-x86_64",
		"kernel": "../../linux/arch/x86/boot/bzImage",
		"cpu": 4,
		"mem": 4096
	},
	"ignores" : [
		"WARNING: The mand mount option has been deprecated and",
		"WARNING: fbcon: Driver 'bochs-drmdrmfb' missed to adjust virtual screen size*",
		"WARNING: fbcon: Driver 'vkmsdrmfb' missed to adjust virtual screen size*"
	],
	"disable_syscalls" : [
		"read$testuaf",
		"write$testuaf",
		"open$testuaf"
	],
  	"enable_syscalls": [
		"syz_mount_image$btrfs_uaf",
		"openat$uaf_dir",
		"openat$uaf",
		"lseek$uaf",
		"write$uaf",
		"umount2$uaf",

		"fstat"
	]
}